services:
  backend:
    build: ./backend
    env_file: ./backend/.env
    ports:
      - "8080:8080"
  frontend:
    image: nginx:alpine
    ports:
      - "8081:80"
    volumes:
      - ./app/build/web:/usr/share/nginx/html