name: Deployment
on:
  push:
    branches: [main]
jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.6'
      - run: flutter build apk --release
        working-directory: app
      - uses: actions/upload-artifact@v4
        with:
          name: apk
          path: app/build/app/outputs/flutter-apk/app-release.apk